
@font-face {
  font-family: 'moonbold';
   src: url('fontsfree-net-moonbold-webfont.woff2') format('woff2'),
        url('fontsfree-net-moonbold-webfont.woff') format('woff');
        url('FontsFree-Net-MoonBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {font-family: 'moonbold';
  color: #0f2652; /* text color */
}
