@font-face {  
  src: url('FontsFree-Net-MoonBold.tff') format('truetype');
  font-family: 'Moon';
}

.p_Style {
	font-family: 'Moon';
	color: #1b2d50;
}
h2 {
  font-family: 'Moon', sans-serif;
  	color: #1b2d50;
}
